<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="https://www.google.com/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://www.google.com/favicon.ico" type="image/x-icon" />

<head>
  <title>StudentMaps | Find your way!</title>
  </head>
<body>
